option_settings:
  # Point the app root to the /public folder.
  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: document_root
    value: /public

container_commands:

    01-optimize-autoloader:
        command: "/usr/bin/composer.phar dump-autoload --optimize"

    02-optimize-config-loading:
        command: "php artisan config:cache"
        cwd: "/var/app/current"

    03-optimize-route-loading:
        command: "php artisan route:cache"
        cwd: "/var/app/current"
