container_commands:
    01-optimize-autoloader:
        command: "/usr/bin/composer.phar dump-autoload --optimize"

    02-optimize-config-loading:
        command: "php artisan config:cache"

    03-optimize-route-loading:
        command: "php artisan route:cache"

    04_migrate:
        command: "php artisan migrate --force"
        cwd: "/var/app/current"
        leader_only: true

    #06_storagelink:
    #    command: "ln -s ../storage/app/public storage"
    #    cwd: "/var/app/staging/public"
    #    leader_only: true
